.git
.vscode
tmp

frontend/node_modules
frontend/node_modules/**
frontend/.next
frontend/.next/**
**/node_modules/
**/node_modules/**
**/.next/
**/.next/**

workers/.venv
workers/__pycache__
**/__pycache__
**/*.pyc

backend/tmp
